@import "normalize";
@import "fonts";
@import "mixins";

$width: 1200px;
$color-red: #d20011;

body {
	background: url(../img/newspaper.jpg) repeat 0 0;
	color: $color-red;
	font: 20px/22px 'dinregular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

p {
	padding: 5px 0 5px;
	margin: 0;
}

a {
	color: $color-red;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

strong {
	font-weight: normal;
	font-family: 'din_blackregular';
}

// ******************************
// @styles
//

.centre {
	text-align: center;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.upper {
	text-transform: uppercase;
}

.light {
	font-family: 'din_lightregular';
}

.large {
	font-size: 24px;
	line-height: 26px;
}

.small {
	font-size: 16px;
	line-height: 18px;
}

.smaller {
	font-size: 13px;
	line-height: 15px;
}

ul.plain {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.inline {
	overflow: hidden;
	margin-left: -10px;

	li {
		float: left;
		margin: 0 0 0 10px;
	}
}

ul.centre {
	margin-left: auto;
	margin-right: auto;
	display: table;
}


// ******************************
// @layout
//

.wrapper {
	width: $width;
	margin: 0 auto;
	position: relative;
}

// ********************
// @header
//

.page-header {
	width: auto;
	padding: 0 30px 0 0;
	height: 127px;
	background: white;
}

.page-nav {
	padding: 23px 0 0 30px;
	float: left;

	p {
		padding: 0 0 2px 0;
	}
}

.main-nav {
	@extend ul.inline;
	@extend ul.plain;
	text-transform: uppercase;
	font-family: 'din_blackregular';
	margin-left: -35px;
	padding-top: 17px;

	li {
		margin-left: 35px;
		margin-right: 0;
	}
}

.social-links {
	margin: 21px 0 0 0;

	.inline {
		margin-left: -11px;
		margin-top: 3px;

		li {
			margin-left: 13px;
		}
	}
}

// ********************
// @content
//

.content {
	background: white;
	overflow: hidden;
	padding: 25px 0 50px 0;
	margin: 30px 0 0 0;
}

.intro-paragraph {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	padding: 37px 50px 25px 50px;
}

ul.social-list-large {
	padding: 0 0 30px 0;
}

// ********************
// @footer
//

.page-footer {
	width: 100%;
	height: 217px - 25px;
	padding: 25px 0 0 0;
	background: url(../img/footer.png) no-repeat 50% 0;

	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	margin: 0 auto;

	.wrapper {
		
	}
}

ul.sponsor-list {
	padding-top: 20px;
}

.logo {
	@include hide-text;
	@include inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
	*vertical-align: auto;
	margin: 0 5px 0 5px;
}

.logo-jamfactory {
	width: 44px;
	height: 45px;
	background-image: url(../img/jamfactory-logo.png);
}

.logo-nouveller {
	width: 123px;
	height: 45px;
	background-image: url(../img/nouveller-logo.png);
}